* {
    box-sizing: border-box;
}

body,html {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#calcBody {
    border: 1px solid black;
    width: 300px;

}


#display {
    border: 1px solid orange;
    height: 50px;
    padding: 15px;
    margin: 10px;
    margin-bottom: 20px;
    text-align: right;
}

button {
    background-color: white;
}

#buttons {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}


#buttons > .numbersBtns {
    border: 1px solid yellow;
    display: flex;
    flex-wrap: wrap;
}


#buttons > .numbersBtns > .btn,
#buttons > .operatorsBtns > .btn,
#buttons > .noDisplayBtns > * {
    border: 1px solid red;
    height: 50px;
    width: 50px;
    text-align: center;
}

.btn:hover {
    transform: scale(1.07);
}

.noDisplayBtns > *:hover {
    transform: scale(1.07);
}