* {
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

body,html {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#calcBody {
    border: 1px solid black;
    width: 300px;
    justify-content: center;

}


#display {
    font-size: 54px;
    border: 1px solid orange;
    height: 150px;
    padding: 70px 10px 0px 10px;
    margin: 10px;
    margin-bottom: 20px;
    text-align: right;
}

button {
    background-color: white;
    margin-right: 10px;
    /* margin-left: 10px; */
    margin-bottom: 12px;
}

#buttons {
    /* border: 1px solid blue; */
    width: 279px;
    height: 302px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.btn {
    width: 50px;
    height: 50px;
}

.top-btns {
    /* border: 1px solid red; */
    /* width: 274px; */
    margin-left: 15px;
}

.mid-btns {
    /* border: 1px solid green; */
    /* width: 274px; */
    margin-left: 15px;
}

.bot-btns {
    /* border: 1px solid orangered; */
    /* width: 274px; */
    margin-left: 15px;
}


#clear,
#equals {
    width: 115px;
}

#backspace {
    position: relative;
    padding: 0px;
    bottom: 1px;
}
.btn:hover {
    transform: scale(1.07);
}